@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-style: normal;
	font-display: swap;
	font-family: 'Inter';
	font-weight: 100 900;
	src: url('/fonts/inter-var.woff2') format('woff2');
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}

#LogOutView {
	display: none;
}

#LogOutPopUp:checked + #LogOutView {
	display: flex;
}

::-webkit-scrollbar {
	height: 1px;
}

[type='date'] {
	background: url('/icons8-calendar-32.png') 99% 50% no-repeat;
	background-size: 20px;
}

[type='date']::-webkit-inner-spin-button {
	display: none;
}

[type='date']::-webkit-calendar-picker-indicator {
	opacity: 0;
}

input.picker[type='date'] {
	position: relative;
}

input.picker[type='date']::-webkit-calendar-picker-indicator {
	top: 0;
	right: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	position: absolute;
	background: transparent;
}

input[type='date'] {
	border-radius: 2px;
	width: 120px !important;
	background-color: transparent;
}
